.container__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 50px;
  row-gap: 50px;
}

@media (max-width: 990px) {
  .container__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 750px) {
  .container__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .container__grid {
    grid-template-columns: 1fr;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.page__container {
  margin-top: 30px;
  margin-bottom: 30px;
}
